<!-- ==== Contact Section Start ==== -->
<section class="contact-section fix" id="contact">
  <div class="container pt100 pb100">

    <div class="row">
      <div class="form">
        <form
          action="https://formsubmit.co/2754a1e9740529db0e58c4189f9fc97d "
          method="POST"
        >
          <!--HoneyPot-->
          <input type="text" name="_honey" style="display: none" />
          <!--Disable Captcha-->
          <input type="hidden" name="_captcha" value="false" />
          <input
            type="hidden"
            name="_next"
            value="https://www.afretoucher.xyz/Success.html"
          />

          <label for="first&nbsp;Name">First Name</label>
          <input name="first&nbsp;Name" type="text" class="form-control" id="name" requested>
          <label for="last&nbsp;Name">Last Name</label>
          <input name="last&nbsp;Name" type="text" class="form-control" id="name" requested>

          <label for="email">Email</label>
          <input
            name="email"
            type="text"
            class="form-control"
            id="email"
            requested
          />

          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            class="form-control"
            requested
          ></textarea>

          <div class="form-group">
            <button class="button" type="submit">Send Message</button>
          </div>
        </form>
      </div>
      <div class=" contactMe">
        <div class="cont-form">
          <h3>Contact us</h3>
        </div>
        <div class="row">
          <!-- Contact Info -->
          <div
            class="contact-info wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <i class="fa fa-phone"></i>
            <p>TEL. +201011071779</p>
          </div>
          <!-- Contact Info -->
          <div
            class="contact-info wow fadeInUp"
            data-wow-delay="0.4s"
          >
            <i class="fa fa-map-marker"></i>
            <p>CAIRO,EGYPT<br /></p>
          </div>
          <!-- Contact Info -->
          <div
            class=" contact-info wow fadeInUp"
            data-wow-delay="0.6s"
          >
            <i class="col-md-4 col-sm-4 fa fa-send"></i>
            <a
              href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=lqrsljcHtNFwkpbdXGbxQHbXsHNPGVRjLSzgSGncDrfPxftpPHqWGxrVJQMglJfvbcLtvLSGvjhpMcrrT"
              >afretoucher@gmail.com</a
            >
          </div>
        </div>
        <!-- Contact Form -->
      </div>
    </div>
  </div>
</section>
<!-- ==== Contact Section End ==== -->
